body, #root {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
  
body {
    background-image: url('./assets/cerveceria_wallpaper.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0;
    font-family: 'Arial', sans-serif;
}